
:root {
	--color-чорний: #111111;
	--color-темно-фіолетовий: #1e1823;
	--color-оранжевий: #fd9222;
	--color-білий: #fafafa;
  --color-white:  #FFFFFF;
  --color-wrapper:#E2E2E2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

/**
  |============================
  | General
  |============================
*/

body {
  margin: 0;
  background-color: #E2E2E2;         /*можно фон задать на секцию*/
}

.section-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;  
}

.section-title-secondory-color {
  color:  #FD9222;
}

.container {
  width: 100%;  
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:375px) {
  .container {
    width: 375px;
  }
}
  
@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1200px;
  }
}

/**
  |============================
  | How it’s made
  |============================
*/

.made-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.made-picture-and-recipe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.made-thumb {
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.made-image {
 
}

.made-recipe-wrapper {
  width: 335px;
  background: #FFFFFF;
  border-radius: 15px;
}

.made-recipe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 14px;
}

.made-recipe-subtitle {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
}

.made-recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.made-recipe-item {
  position: relative;
}

.made-recipe-step {
  padding-left: 16px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #111111; 
}

.made-recipe-step::before {
  position: absolute;
  top: 5px;
  left: 0;
  content:"";
  width: 8px;
  height: 8px;
  background: #4C4C4C;
  border: 1px solid #ECEDED;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width:375px) {

}
  
@media screen and (min-width:768px) {
  .made-container {
    gap: 50px;
  }

  .made-image {
    width: 614px;
    height: 400px;
  }
  
  .made-recipe-wrapper {
    width: 614px;
  }
  
  .made-recipe {
    gap: 28px;
    padding: 32px 102px 32px 32px;
  }
}

@media screen and (min-width:1200px) {
  .made-picture-and-recipe {
    flex-direction: row;
  }

  .made-thumb {
    width: 600px;
  }

  .made-image {
    width: 600px;
  }

  .made-recipe-wrapper {
    width: 516px;
  }  

  .made-recipe {
    gap: 28px;
    padding: 32px 32px 34px 32px;
  }
  .made-recipe-list {
    gap: 24px;
  }
}