
:root {
	--color-чорний: #111111;
	--color-темно-фіолетовий: #1e1823;
	--color-оранжевий: #fd9222;
	--color-білий: #fafafa;
  --color-white:  #FFFFFF;
  --color-wrapper:#E2E2E2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

/**
  |============================
  | General
  |============================
*/

body {
  margin: 0;
  background-color: var(--color-wrapper);
}

.section-title{
margin-left: auto;
margin-right: auto;
}

.section-title-orange {

}


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:375px) {
  .container {
    width: 375px;
  }
}
  
@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width:1200px) {
  .container {
    width: 1200px;
  }
}

/**
  |============================
  | How it’s made
  |============================
*/

.made-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
}

.video-and-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.made-wrapper-list {
  background-color: var(--color-white);
  border-radius: 15px;
}

.div-in-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 14px;
}

.made-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-чорний);
}
  

.made-list {
  display: flex;
  flex-direction: column;
  row-gap: 18;
  list-style-type: none;
}

.made-item {

}

.made-step {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--color-чорний);
}



@media screen and (min-width:375px) {
  .made-wrap {

}
  

@media screen and (min-width:768px) {
  .made-wrap {
    gap: 50px;
    padding: 0 77px;
  }

  .div-in-div {
    gap: 28px;
    padding: 32px;
  }
}

@media screen and (min-width:1200px) {
  .made-wrapper {
    padding: 0 32px;
  }

  .video-and-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
