:root {
  --color-чорний: #111111;
  --color-темно-фіолетовий: #1e1823;
  --color-оранжевий: #fd9222;
  --color-білий: #fafafa;
  --color-white: #ffffff;
  --color-wrapper: #e2e2e2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/**
  |============================
  | General
  |============================
*/

body {
  margin: 0;
  background-color: #e2e2e2;
}

.section-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.section-title-secondory-color {
  color: #fd9222;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 614px;
    padding-right: 77px;
    padding-left: 77px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

/**
  |============================
  | How it’s made
  |============================
*/

.made-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.made-picture-and-recipe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.made-thumb {
  position: relative;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}

.video-clip {
  width: 100%;
  height: 250px;
}

.made-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
}

.icon-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-thumb:hover .made-picture {
  opacity: 0;
  pointer-events: none;
}

.made-thumb:hover .icon-on-image {
  opacity: 0;
  pointer-events: none;
}

.made-recipe-wrapper {
  background: #ffffff;
  border-radius: 15px;
}

.made-recipe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 14px;
}

.made-recipe-subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #111111;
}

.made-recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.made-recipe-item {
  position: relative;
}

.made-recipe-step {
  padding-left: 16px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #111111;
}

.made-recipe-step::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 375px) {
  .made-thumb {
    width: 335px;
    height: 500px;
  }

  .video-clip {
    height: 500px;
  }

  .made-picture {
    height: 500px;
  }

  .made-recipe-wrapper {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .made-container {
    gap: 50px;
  }

  .made-thumb {
    width: 614px;
    height: 400px;
  }

  .video-clip {
    height: 400px;
  }

  .made-picture {
    height: 400px;
  }

  .icon-on-image {
    width: 44px;
    height: 44px;
  }

  .made-recipe-wrapper {
    width: 614px;
  }

  .made-recipe {
    gap: 28px;
    padding: 32px 102px 32px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .made-picture-and-recipe {
    flex-direction: row;
  }

  .made-thumb {
    width: 600px;
  }

  .made-recipe-wrapper {
    width: 516px;
  }

  .made-recipe {
    gap: 28px;
    padding: 32px 32px 34px 32px;
  }
  .made-recipe-list {
    gap: 24px;
  }
}
